<div class="navbar">
    <ul>
        <li [style.margin-left]="linkHorizMargin"
        [style.margin-right]="linkHorizMargin"
        routerLinkActive="active-link"
        [style.width]="linkWidth">

            <a [style.padding]="linkPadding"
            [style.font-size]="fontSize"
            routerLink="site">Site</a>

        </li>

        <li [style.margin-left]="linkHorizMargin"
        [style.margin-right]="linkHorizMargin"
        routerLinkActive="active-link"
        [style.width]="linkWidth">

            <a [style.padding]="linkPadding"
            [style.font-size]="fontSize"
            routerLink="open-sans">Open Sans</a>

        </li>

        <li [style.margin-left]="linkHorizMargin"
        [style.margin-right]="linkHorizMargin"
        routerLinkActive="active-link"
        [style.width]="linkWidth">

            <a [style.padding]="linkPadding"
            [style.font-size]="fontSize"
            routerLink="source-code-pro">Source Code Pro</a>

        </li>
    </ul>
</div>
<router-outlet></router-outlet>