<div *ngIf="!isViewingProj">
  <section>
    <h2>Games</h2>

    <a *ngFor="let project of gameProjects"
    class="project"
    [routerLink]="project.getRouterLink()"
    [style.width]="projWidth"
    [style.margin]="projMargin">

      <h4>{{project.getTitle()}}</h4>
      <p>{{project.getBriefDesc()}}</p>

    </a>

  </section>

  <section>
    <h2>Other</h2>

    <a *ngFor="let project of otherProjects"
    [routerLink]="project.getRouterLink()"
    class="project"
    [style.width]="projWidth"
    [style.margin]="projMargin">

      <h4>{{project.getTitle()}}</h4>
      <p>{{project.getBriefDesc()}}</p>

    </a>
  </section>

</div>

<a *ngIf="isViewingProj"
class="back-button"
routerLink="/projects">

  Back to Projects

</a>

<router-outlet></router-outlet>