.project {
    border: 1px solid var(--second-bg-color);
    display: inline-block;
    padding: 1em;
    border-radius: 0.75em;
}

.project:hover {
    background-color: var(--second-bg-color);
}

.project p {
    font-size: 0.85em;
}

.project h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 0.1em;
    color: var(--main-accent-color);
}

a, a:visited {
    color: var(--main-fg-color);
}