<div id="content-wrapper" [style.width]="contentSize">
  <div id="content">
    <h1>{{title}}</h1>
    <div id="navbar">
      <ul>
        <li [style.margin-left]="linkHorizMargin"
        [style.margin-right]="linkHorizMargin"
        routerLinkActive="active-link"
        [style.width]="linkWidth"
        *ngFor="let route of routes">

          <a [style.padding]="linkPadding"
          [routerLink]="route.path">
              {{route.name}}
          </a>

        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>