<div id="content-wrapper"
[style.width]="contentSize"
[style.min-height]="wrapperHeight">
  <div id="content">
    <h1 [style.font-size]="titleFontSize">{{title}}</h1>
    <div class="navbar">
      <ul>
        <li [style.margin-left]="linkHorizMargin"
        [style.margin-right]="linkHorizMargin"
        routerLinkActive="active-link"
        [style.width]="linkWidth"
        *ngFor="let route of routes">

          <a [style.padding]="linkPadding"
          [style.font-size]="fontSize"
          [routerLink]="route.path">
              {{route.name}}
          </a>

        </li>
      </ul>
    </div>
    <div id="router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div id="footer">
  © 2018 G. Nikolai Kotula | 
  <a href="https://opensource.org/licenses/MIT">MIT License</a> | 
  <a routerLink="legal">Legal</a>
</div>