<div id="home-content-left">
    <section>
        <h2>What is this place?</h2>
        <p>
            My name is <b>George Nikolai Kotula</b>, and
            this website is all about me :-)<br>
            I am a passionate gamer, a certified nerd, and, most importantly, a
            <a routerLink="/about" fragment="career">software engineer</a>.
        </p>
        <p>
            This site is dedicated to my personal <a
            routerLink="/projects">projects</a>
            and me as a person.<br>
            Enjoy your stay!
        </p>
    </section>
    <section>
        <h2>How to get in touch with me</h2>
        <p>
            There's a <a routerLink="/contact">Contact</a> page where you can
            shoot me an email.<br>
            I don't really have social media, but I do have a <a target="_blank"
            href="{{linkLinkedIn}}">LinkedIn</a> and a
            <a target="_blank" href="{{linkGitHub}}">GitHub</a>.
        </p>
    </section>
</div>