<section>
  <h2>The Home Page</h2>
  <p>The <span class="main-accent">quick</span> brown fox jumped over the <span class="second-accent">lazy</span> dog.</p>
  <p><a href="www.google.com">Don't click this please...</a></p>
</section>
<section>
  <h3 class="error">An h3 tag</h3>
  <p>hello world</p>
</section>
<section>
  <h4 class="warning">An h4 tag</h4>
  <p>hello world</p>
</section>
<section>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non
  eleifend nisi, et egestas nunc. Sed consectetur est iaculis purus tempor, eu
  mattis nisl faucibus. Praesent id neque porttitor, mattis turpis eget,
  egestas ipsum. Quisque posuere tellus ultricies metus sodales tempor. Proin
  mollis nisi non massa tempus, sed tristique lectus euismod. Vestibulum id
  mauris in nisl ultricies accumsan vitae eget justo. Nulla massa nulla,
  placerat ac leo ut, porttitor scelerisque dolor. Nam ipsum erat,
  sollicitudin eget molestie sed, bibendum vitae ligula. Donec eget
  pellentesque arcu, et facilisis sem. Morbi lobortis urna nunc, sit amet
  eleifend eros laoreet eget. Sed vehicula tortor velit, a malesuada ipsum
  eleifend sed. Vestibulum quis enim eu nulla maximus porttitor in eu
  tortor.</p>

  <p>Morbi consectetur suscipit nisl, in pretium orci dignissim at. Morbi
  ultrices mauris eu purus volutpat, nec bibendum urna cursus. Maecenas id
  neque leo. Vestibulum porta orci vel est laoreet, sit amet viverra augue
  blandit. Donec posuere sem id magna vulputate eleifend. Morbi scelerisque
  lacinia urna, eu gravida nulla pulvinar nec. Sed porta volutpat purus a
  facilisis.</p>

  <p>Nulla pretium eros vitae quam sagittis tempus. Etiam iaculis arcu dolor,
  et placerat sem malesuada non. Quisque eget risus vulputate, ullamcorper
  elit eu, viverra metus. In nec urna enim. Morbi aliquam rutrum ex et
  convallis. Quisque ullamcorper consequat nibh, eu rutrum massa facilisis a.
  Integer nec orci sed mi efficitur vestibulum. Sed efficitur ac ipsum eu
  malesuada. Phasellus pulvinar felis nec dui cursus, malesuada interdum justo
  lobortis. Nulla a blandit neque, eu porta tellus. Donec at neque ut arcu
  pulvinar ultrices eu eget ante. Proin quis dui tincidunt ipsum elementum
  feugiat eget auctor purus.</p>

  <p>Vivamus feugiat augue vitae pulvinar ornare. Morbi consequat metus
  sapien, vitae egestas velit pulvinar eget. Quisque finibus orci ac molestie
  ultricies. Donec molestie imperdiet justo eu venenatis. Nam ut tristique
  odio. Fusce lobortis nec ligula a feugiat. Etiam sollicitudin mollis sem,
  nec blandit est ornare eu. Nulla euismod in mi mattis aliquam. Curabitur vel
  imperdiet magna. Donec id ante odio. Aliquam pellentesque leo nec magna
  commodo pretium. Nam lobortis commodo pharetra. Etiam arcu mauris, ultrices
  in molestie a, sodales a ex.</p>

  <p>Etiam sit amet ligula dolor. Donec erat tellus, volutpat pellentesque
  gravida a, commodo et odio. Curabitur feugiat nec metus imperdiet fermentum.
  Suspendisse non justo purus. Cras aliquet lorem eget dolor sollicitudin
  cursus quis quis dolor. Mauris eu ligula vel ex fermentum rhoncus. Aliquam
  tempor vulputate neque, vel vulputate neque tristique id. Cras convallis
  convallis maximus. Praesent ultricies ante velit, ut sollicitudin diam
  volutpat in. Nam mollis odio vitae felis condimentum, et sagittis risus
  vulputate. Nunc orci magna, porttitor in condimentum et, semper sed enim.
  Aenean volutpat nisi in sollicitudin imperdiet.</p>
</section>